.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Блок 250x250 для завантаження */
.upload-box {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: gray;
    transition: 0.3s;
}

    .upload-box:hover {
        border-color: #555;
        background-color: #f0f0f0;
    }

/* приховуємо стандартний input */
.hidden-input {
    display: none;
}

/* Стиль тексту усередині */
.upload-label {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 14px;
    flex-direction: column;
    padding: 10px;
}

/* Прев’ю файлу (іконка + назва) */
.file-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.file-icon {
    width: 64px;
    height: 64px;
    opacity: 0.8;
}

/* Прев’ю фото */
.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
