html, body {
    height: 100%;
    margin: 0;
    background-color: #BDA5A5;
}

.login-page {
    margin-top: 100px;
    font-family: "Inria Serif";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .login-page h1 {
        text-align: center;
        font-size: 10vh;
        font-weight: 300;
        -webkit-text-stroke: 1px black;
        margin-bottom: 40px;
        margin-top: 50px;
    }

.login-login-input, .login-pass-input {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    height: 60px;
    width: 500px;
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 10px;
    margin-right: 20px;
}

.login-login-btn, .login-signup-btn, .login-google-btn {
    width: 200px;
    height: 70px;
    padding: 10px;
    background-color: #9C7777;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    outline: none;
    align-self: center;
    text-align: center;
    font-size: 19px;
}

    .login-login-btn:hover, .login-signup-btn:hover, .login-google-btn:hover {
        border: 1px solid black;
        background-color: #ac7777;
    }

.login-inputs-div {
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
}

.login-error-msg {
    color: red;
    font-size: 17px;
    font-weight: 800;
    margin-bottom: 2px;
    margin-top: 0px;
    text-align: center;
}
