development:
  adapter: async

test:
  adapter: test

production:
  adapter: postgresql
  url: postgresql://try_app_db_user:HIjChTZGIUEs2gsZSlCDyvrrVLn56wva@dpg-d3vk9s75r7bs7389u3b0-a.oregon-postgres.render.com/try_app_db